@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&display=swap');
*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: bold;
}
form{
  width: 40%;
  max-width: 500px;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 50px auto;
}

.formHeader{
  background-color: #15133C;
  border-radius: 10px 10px 0 0;
  padding: 20px;
  color: white;
}
.formHeader h1{
  margin-bottom: 5px;
}

.personalInfo {
  padding: 10px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.input input{
  padding: 5px 5px 5px 10px;
  font-size: 16px;
}

.input input:focus{
  outline: none;
}
.input input:valid{
  border: 2px solid green;
}

.input input:invalid:not(:placeholder-shown){
  border: 2px solid red;
}


.input input:required + span::after{
  content: 'Required';
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: #15133C;
  color: white;
  padding: 3px 5px;
  font-size: 12px;
}

.input input:valid:not(:placeholder-shown) + span::before,
.input input:invalid:not(:placeholder-shown) + span::before
{
  position: absolute;
  right: 10px;
  top: 34px;
}

.input input:valid:not(:placeholder-shown) + span::before{
  content: url(./assets/check-mark-button-svgrepo-com.svg);
}


.input input:invalid:not(:placeholder-shown) + span::before{
  content: url(./assets/cross-mark-button-svgrepo-com.svg);
}

.gender ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-bottom: 16px;
}

div:first-child{
  margin-bottom: 5px;
}

.noGender{
  display: flex;
  margin-top: 16px;
}

.noGender label{
  flex-grow: 2;
}

legend{
  background-color: #15133C;
  color: white;
  font-size: 16px;
  padding: 3px 5px;
  margin: 10px;
}

.noGender input{
  appearance: none;
  width: 18px;
  height: 18px;
  padding: 2px;
  border: 1px solid gray;
  position: relative;
}

.noGender input:checked{
  content: url(./assets/checkbox.svg);
  background-color: #15133C;
}


.submit{
  display: flex;
  justify-content: center;
  padding: 20px;
}

.submit button{
  background-color: white;
  padding: 8px 16px;
  font-size: 16px;
  color: #15133C;
  border: 1px solid #15133C;
  margin-bottom: 10px;
  cursor: pointer;
  transition-duration: 0.1s;
}

.submit button:hover{
  background-color: #15133C;
  color: white;
  transition-duration: 0.1s;
}